
.label-account{
    width: 100%;
    height: 20%;
    background: #eee; 
}
.report{
    width: 100%;
    height: 40%;
}
.label-report{
    width: 20%;
    height: 40%;
    background: #eee;
}

.label-post{
    width: 100%;
    height: 40%;
    background: #eee;
}

.label-message{
    height: 20%;
    width: 100%;
    background: #eee;
}
