<div class="row row-account">
    <div class="col-sm-12 col-md-12">
        <span class="label label-account">.col-sm-12 .col-md-12</span>
    </div>
</div>


<div class="row row-activity-report">
    <div class="col-xs">
        <span class="label label-report">1/4</span>
    </div>
    <div class="col-xs">
        <span class="label label-report">1/4</span>
    </div>
    <div class="col-xs">
        <span class="label label-report">1/4</span>
    </div>
    <div class="col-xs">
        <span class="label label-report">1/4</span>
    </div>
    <div class="row flex-items-xs-bottom">
            <div class="col-xs">
                <span>1/2</span>
            </div>
            <div class="col-xs">
                <span>1/2</span>
            </div>
        </div>
</div>


<div class="row row-post-report">
    <div class="col-sm-12 col-md-12">
        <span>.col-sm-12 .col-md-12</span>
    </div>
</div>


<div class="row row-message-report">
    <div class="col-sm-12 col-md-12">
        <span>.col-sm-12 .col-md-12</span>
    </div>
</div>