<div class="w3-sidebar w3-bar-block w3-light-grey w3-card-2" style="width:200px;">
        <a href="#" class="w3-bar-item w3-button">Link 1</a> 
        <a href="#" class="w3-bar-item w3-button" onclick="myAccFunc()">Accordion</a>
        <div id="demoAcc" class="w3-hide">
          <a href="#" class="w3-bar-item w3-button">Link</a>
          <a href="#" class="w3-bar-item w3-button">Link</a>
        </div>
        <div class="w3-dropdown-click">
          <a href="#" class="w3-bar-item w3-button" onclick="myDropFunc()">Dropdown</a>
          <div id="demoDrop" class="w3-dropdown-content">
            <a href="#" class="w3-bar-item w3-button">Link</a>
            <a href="#" class="w3-bar-item w3-button">Link</a>
          </div>
        </div>
        <a href="#" class="w3-bar-item w3-button">Link 2</a> 
        <a href="#" class="w3-bar-item w3-button">Link 3</a>
      </div>
      
    <div class="row row-account">
        <div class="col-sm-12 col-md-12">
            <span class="label label-account">.col-sm-12 .col-md-12</span>
        </div>
    </div>

<div class="row row-activity-report">
    <div class="col-xs-3">
        <span class="label label-report">1/4</span>
    </div>
    <div class="col-xs-3">
        <span class="label label-report">1/4</span>
    </div>
    <div class="col-xs-3">
        <span class="label label-report">1/4</span>
    </div>
    <div class="col-xs-3">
        <span class="label label-report">1/4</span>
    </div>
 
    <div class="col-xs-4">
        <span class="label label-report">1/4</span>
    </div>
    <div class="col-xs-4">
        <span class="label label-report">1/4</span>
    </div>
    <div class="col-xs-4">
        <span class="label label-report">1/4</span>
    </div>
     
 
</div>


<div class="row row-post-report">
    <div class="col-xs">
        <span class="label label-post">.col-sm-12 .col-md-12</span>
    </div>
</div>


<div class="row row-message-report">
    <div class="col-xs">
        <span class="label label-message">.col-sm-12 .col-md-12</span>
    </div>
</div>